<!DOCTYPE html>

	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
		<link rel="stylesheet"  th:href="@{/css/base.css}" href="css/base.css" />
		<link rel="stylesheet"  th:href="@{/css/Torr.css}" href="css/Torr.css" />

		<script  charset="utf-8" th:src="@{/js/core.js}" src="js/core.js"></script>
		<script  charset="utf-8" th:src="@{/js/v8.js}" src="js/v8.js"></script>
	</head>
	<body>
			<div class="head-mod z-app-head fix " id="nav-container" style="height:98px;">
		<div class="hd-content z-app-head fixed fix" id="nav-container-main" style="">
			<div class="mod-wrap hd-wrap">
				<div class="hd-left fix">
					<div class="hd-logo">
						<h1 class="logo"><a href="" title="艺起看" hidefocus><img style="overflow: hidden;"  th:src="@{/img/艺起看3.png}" /></a></h1>
						<div class="hd-ad">
							<div class="ad-wrap" data-deliver="ws_index__logo">
							</div>
						</div>
						<div class="hd-line">
							&nbsp;
						</div>
						<div class="hd-menu hd-nav hd-vmenu" id="verticalMenuLayout" data-hover-wrap="show-panel">
							<a href="javascript:;" class="tit-inner head-btn fix" data-hover-ele="1">
							<b class="lump "></b>
							<b class="tit">导航</b>
							<em class="icon"></em>
							</a>
						</div>
						<div class="hd-menu hd-ret" id="subMenuLayout" data-hover-wrap="show-panel">
							<a href="" class="tit-inner head-btn fix tool-comboxlike" data-target=".hd-menu-wrap" data-mouse="mouseover" data-hover-ele="1">
							<b class="lump hd-nav-ico"></b>
							<b class="hd-menu-ico"></b>
							<b class="tit">分类</b>
							<em class="icon"></em>
							</a>
							<div class="hd-menu-wrap">
								<i class="menu-arrow"></i>
								<div class="hd-menu-inner">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="hd-right hd-menu-common fix">
					<div class="hd-user">
						<div class="login-wrap">
							<div class="login-btn-wrap" id="loginLayout">
								<i class="login-bg"></i>
								<div class="btns">
									<a id="login-btn" href="http://localhost:8760/login.html" onclick="F.user.isLogin(true,true);return false;">登录</a>
									<i class="line"></i>
									<a id="register-btn" href="" onclick="if(F.user.register){F.user.register();return false;}">注册</a>
								</div>
							</div>
							<div class="logined hidden" id="userMsgLayout" data-hover-wrap="show-panel">
								<a href="" title="" class="us-headpic head-btn arrow-btn" data-hover-ele="1">
								<img alt="" title="" width="30" height="30"/>
								<span class="vip-sign com-pic-vip"></span>
								<b class="us-name"></b>
								<i class="ico_arrow"></i>
								</a>
								<div class="logined-submenu">
									<i class="logined-arrow"></i>
									<div class="submenu-wrap">
										<div class="submenu-login-info fix">
											<div class="img-avatar js-subAvatar">
												<img src="">
											</div>
											<div class="user-name">
												<h3 class="js-userInfo"><span></span><em class="js-subVipSign"></em></h3>
												<h4>积分  <a href=""><em class="js-subCredit"></em></a></h4>
											</div>
											<div class="vip-info">
												<p>
													<span class="js-subValidDate">开通会员免广告</span><a class="js-subVipBtn" href="">开通会员</a>
												</p>
											</div>
										</div>
										<div class="submenu-line">
										</div>
										<div class="submenu-list fix">
											<a href=""><em class="my-credit"></em><span>我的积分</span></a>
											<a href=""><em class="my-vip"></em><span>我的会员</span></a>
											<a href=""><em class="my-history"></em><span>观看历史</span></a>
											<a href=""><em class="my-subscribe"></em><span>我的订阅</span></a>
										</div>
										<div class="submenu-ft">
											<a href="" class="submenu-set">设置</a>
											<a href="" class="submenu-exit">退出</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			
		
				
				
					
				</div>
			</div>
			<div class="page-progress" id="page-progress">
			</div>
			
		</div>
		</div>
	</body>
</html>
